body {
    padding: 10px;
    width: auto;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #262626;
    color: white;
}

button {
    margin: 5px;
}

/* .weatherData {
    margin: 10px;
    width: 100vw;
} */

